<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ciudades</title>
</head>
<body>
    <h1>Lista de Ciudades</h1>
    <ul>
        {% for ciudad in ciudades %}
            <li>
                {{ ciudad.nombre }}
                <a href="{% url 'editar_ciudad' ciudad.codigo %}">Editar</a> |
                <a href="{% url 'eliminar_ciudad' ciudad.codigo %}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta ciudad?');">Eliminar</a>
            </li>
        {% empty %}
            <li>No se encontraron ciudades.</li>
        {% endfor %}
    </ul>
    <a href="/agregar_ciudad/">Agregar nueva ciudad</a>
</body>
</html>